<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="stylesheets/login.css">
</head>

<body>
    <div class="container pl-5" style="font-size: 22px;">
        <script src="https://cdn.lordicon.com//libs/frhvbuzj/lord-icon-2.0.2.js"></script>
        <lord-icon src="https://cdn.lordicon.com//dxjqoygy.json" trigger="loop"
            colors="primary:#121331,secondary:#06b806" style="width:100px;height:100px">
        </lord-icon> <a style="text-decoration: none; color: black;"  href="/">Welcome to <b>Doct<span style="color:#06b806">Aid</span> </b></a> 
    </div>
    <br>
<hr>
    <div class="row">
        <div class="col-2 col-md-4">
            <div class="container"></div>
        </div>
        <div class=" col-8 col-md-4">
            <div style="font-size: x-large; color:rgb(0, 182, 0)"> Sign In </div>
            <small>Welcome back! So happy to see you again !</small>
            <br>

        </div>
        <div class="col-2 col-md-4">
            <div class="container"></div>
        </div>
    </div>

<br>
    <div class="container text-center" style="max-width:600px;">
          <div class="mt-0"> 
            <form action="/login" method="POST">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="username" name="username" id="username" class="form-control" placeholder="Your UserName">
              </div>
              <div class="form-group mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Enter your passsword">
              </div>
              <button name="login" id="login" class="btn  btn-outline-success"  value="Login">
               Login </button>
            </form>
            <a href="#!" class="forgot-password-link">Forgot password?</a>
            <p class="login-wrapper-footer-text">Don't have an account? <a href="/register" class="text-reset">Register here</a></p>
       
        
      
    </div>
  </div>
  <br>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
